<section class="contact">
  <form action="">
      <h1>Let's Make Something Great Together!</h1>
      <h2>I will help you to create your brands and innovate businesses</h2>
      <div class="input-box">
          <input type="text" name="name" placeholder="Enter your name*" required>
          <input type="email" name="email" placeholder="Enter your email*" required>
      </div>
      <div class="input-box">
          <input type="number" name="number" placeholder="Enter your phone number" required>
          <input type="text" name="subject" placeholder="Subject">
      </div>
      <textarea name="message" id="" cols="30" rows="10" placeholder="Your Message"></textarea>

     <!-- adding div container to btn -->
  <div class="btn-container">
      <input type="submit" value="Submit" class="btn" >
  </div>
  </form>
</section>
