<section id="sec2">
  <div class="container mt-6 p-3 ">
    <article class="one">
    <div class="col-sm-12 col-md-12 col-lg-6 text-dark text-right ">
      <h2 class="about">My Work Experience</h2>
      <p class="subabout">Passionate to craft amazing digital product. I am provide your business a new creative start right away</p>
    </div>
  </article>

  <article class="two">
    <div class="col-sm-12 col-md-12 col-lg-6 text-dark text-right ">
      <h3 class="about">My Projects</h3>

    </div>
  <div class="timeline">
    <div class="timeline-entry">
      <div class="row">
        <div class="col-md-4">
          <h4 class="project-title">Glory E-commerce</h4>
          <p class="job-duration">August 2024 - Present</p>
        </div>
        <div class="col-md-8">
          <h4 class="job-title">Web Developer</h4>
          <p>User Interface Design or User Interface Engineering involves designing user interfaces for machines and software, such as computers and mobile devices.</p>
          <a style="margin: 10px;" routerLink="/detail-project"  class="btn btn-dark">Show Details</a>
        </div>
      </div>
    </div>

    <hr>
    <div class="timeline-entry">
      <div class="row">
        <div class="col-md-4">
          <h4 class="project-title">Global Solution Travel Blog</h4>
          <p class="job-duration">September 2023 - March 2024</p>
        </div>
        <div class="col-md-8">
          <h4 class="job-title">Sr. Product Designer</h4>
          <p>A visual designer designs for a variety of platforms, including internet and intranet sites, games, movies, and wearables. In short, they create concepts.</p>
          <a style="margin: 10px;" routerLink="/detail-project"  class="btn btn-dark">Show Details</a>
        </div>
      </div>
    </div>
    <hr>
    <div class="timeline-entry">
      <div class="row">
        <div class="col-md-4">
          <h4 class="project-title">Palmairass Corp web Site</h4>
          <p class="job-duration">June 2022 - September 2023</p>
        </div>
        <div class="col-md-8">
          <h4 class="job-title">UI/UX Designer</h4>
          <p>User Interface Design or User Interface Engineering involves designing user interfaces for machines and software, such as computers and mobile devices.</p>
          <a style="margin: 10px;" routerLink="/detail-project"  class="btn btn-dark">Show Details</a>
        </div>
      </div>
    </div>
    <hr>
    <div class="timeline-entry">
      <div class="row">
        <div class="col-md-4">
          <h4 class="project-title">Hesoyam.Co App</h4>
          <p class="job-duration">December 2018 - August 2019</p>
        </div>
        <div class="col-md-8 pb-5">
          <h4 class="job-title">Visual Designer</h4>
          <p>Find product photography, large selections, always sell, cheap prices, full offers, store online, compare online, and provide simple search. The best choice, compare simply.</p>
          <a style="margin: 10px;" routerLink="/detail-project"  class="btn btn-dark">Show Details</a>
        </div>
      </div>
    </div>
  </div>


</article>
</div>


</section>
