<div>
<!-- Home Section -->
  <section >
    <div class="container ">
        <div class="row  min-vh-100   gx-5 " >
            <div class="col-md-6  d-flex justify-content-center align-items-center" >
               <div class="lead contect ">
                <h2 class="fs-1">hi there,i'm Jimmy chairperson</h2>
                <p class="pt-4 pb-5 color" >Hi i'm a FrontEnd Developer,Creating bold and brave
                    interface design for companies all across the world
                </p>
                <a href="contact">
                  <button  type="button" class="btn me-3 btn1 border">Contact us</button></a>
                  <button  type="button" class="btn btn-light border">Portfolio &rarr; </button>
               </div>
            </div>




            <div class="col-md-6   d-flex justify-content-center align-items-center">

                <div class="hexagon position-relative">

                    <div class="img ">
                    </div>
                        <div class="web border rounded"><p class="mt-1"> <span></span>Web Developer</p></div>
                        <div class="ux  border rounded"><p class="mt-1"><span></span>UX Research</p></div>
                        <div class="mobil border rounded"><p class="mt-1"><span></span>Mobile App Design</p></div>
                        <div class="brand border rounded"><p class="mt-1"><span></span>Brand Identity</p></div>



              </div>

            </div>
        </div>

    </div>
</section>

  <!-- About Section -->
  <app-about></app-about>

  <!-- Projects Section -->
  <app-projects></app-projects>

  <!-- Blog Section -->
  <app-blog></app-blog>
</div>
