<div class="container pt-5">
  <section class="details">
    <article class="one">
      <div class="row pb-5">
        <div class="col-sm-12 col-md-12 col-lg-6 " >
            <img src="./assets/ph1.png" class="img-fluid" alt="...">
        </div>

      <div class=" col-sm-12 col-md-12 col-lg-6 text-dark">
          <h2>Project Name</h2>
          <p>
              Lorem ipsum dolor sit amet trips consectetur at eveniet labore blanditiis tempora quisquam, quae aperiam.
          </p>


      </div>

    </div>
  </article>

   <!-- part 2 -->
  <article class="tow">
    <div class="row pb-5">
   <!-- description -->
    <div class=" col-sm-12 col-md-12 col-lg-6 text-dark">

      <h2>Project Details</h2>
      <div class="details">
        <div class="details-item">
          <strong>Client:</strong> Travelduck
        </div>
        <div class="details-item">
          <strong>Country:</strong> Egypt
        </div>
      </div>
      <div class="details">
        <div class="details-item">
          <strong>Project:</strong> UX/UI Design, Web Development
        </div>
        <div class="details-item">
          <strong>Type:</strong> Travel, Marketplace
        </div>
      </div>
      <div class="details">
   <div class="details-item">
   <strong>Team Composition:</strong> 1 UX/UI Designer, 1 Front End Developer, 1 Back End Developer
 </div>
 <div class="details-item">
  <strong>Work Duration:</strong> 3 Months
</div>

  <strong>Description:</strong>
    <p class="description">Lorem ipsum dolor sit amet trips consectetur adipisicing elit.mondo blog travel luxor Vel commodi quos reprehenderit ipsa a eos at nihil perferendis pariatur rerum veniam rem ex eveniet labore blanditiis tempora quisquam,
      Lorem, ipsum dolor sit amet consectetur repellat sed sapiente, expedita ad doloremque laborum. Labore, nulla ipsum quod dolor nesciunt doloremque vel expedita  adipisicing elit. Debitis, totam! Ut deleniti suscipit rem ad sed atque, sapiente Lorem ipsum dolor sit amet consectetur, adipisicing xandria Ipsa fugiat repellat sed sapiente, expedita ad doloremque laborum. Labore, nulla ipsum quod dolor nesciunt doloremque vel expedita  consectetur repellat sed sapiente, expedita ad doloremque laborum. Labore, nulla ipsum quod dolor nesciunt doloremque vel expedita  adipisicing elit. Debitis, totam! Ut deleniti suscipit rem ad sed atque, sapiente Lorem ipsum dolor sit amet conse necessitatibus doloremque laborum. Labore, nulla ipsum quod dolor nesciunt doloremque vel expedita necessitatibus eaque soluta blanditiis.</p>

      </div>
    </div>

<!-- skills -->
    <div class="col-sm-12 col-md-12 col-lg-6 " >

      <h3>Using :</h3>
      <div class="grid">
        <div class="skill">
            <img src="./assets/html5.png" alt="HTML5">
                <p>HTML5</p>
        </div>
        <div class="skill">
              <img src="./assets/css3.png" alt="CSS3">
                <p>CSS3</p>
        </div>

        <div class="skill">
              <img src="./assets/js.png" alt="JavaScript">
                <p>JavaScript</p>
        </div>
        <div class="skill">
              <img src="./assets/angular.png" alt="Angular">
                <p>Angular</p>
        </div>
            <div class="skill">
                <img src="./assets/bootstrap.png" alt="Bootstrap">
                  <p>Bootstrap</p>
        </div>
        <div class="skill">
                <img src="./assets/git.png" alt="Git">
                <p>Git</p>
        </div>
        <div class="skill">
            <img src="./assets/figma.png" alt="Figma">
              <p>Figma</p>
        </div>
      </div>
  </div>


<article class="three">
<!-- Image Grid Section -->
<div class="row pb-5">
  <div class="col-sm-12 col-md-12 col-lg-4 p-2" >
    <img src="./assets/ph1.png" alt="website1" class="grid-item">
  </div>

    <div class="col-sm-12 col-md-12 col-lg-4 p-2" >
      <img src="./assets/ph3.png" alt="website2" class="grid-item">
    </div>

    <div class="col-sm-12 col-md-12 col-lg-4 p-2" >
      <img src="./assets/ph4.png" alt="website3" class="grid-item">
    </div>
</div>
</article>

</div>
