/* Image Grid */

.grid-item {
  width: 100%;
  border-radius: 8px;
  object-fit: cover;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/*skill*/
.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-bottom: 40px;
}

.skill {
  text-align: center;
}

.skill img {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
}

.skill p {
  font-size: 16px;
  color: #555;
}
.btn-dark{
  background-color: #312d81;
}
