<div class="container swiper">
  <div class="text">
    <h1>My Blog</h1>
    <h4>Perfect solution for digital experience</h4>
  </div>
  <div class="card-wrapper">
    <!-- Card slides container -->
    <ul class="card-list swiper-wrapper">
      <li class="card-item swiper-slide">
        <a href="#" class="card-link">
          <img src="./assets/ph1.png" alt="Card Image" class="card-image">
          <h2 class="card-title">Glory E-commerce</h2>
        </a>
      </li>
      <li class="card-item swiper-slide">
        <a href="#" class="card-link">
          <img src="./assets/ph3.png" alt="Card Image" class="card-image">
          <h2 class="card-title">Global Solution Travel Blog</h2>
        </a>
      </li>
      <li class="card-item swiper-slide">
        <a href="#" class="card-link">
          <img src="./assets/ph2.jpg" alt="Card Image" class="card-image">
          <h2 class="card-title">Palmairass Corp web Site</h2>
        </a>
      </li>
      <li class="card-item swiper-slide">
        <a href="#" class="card-link">
          <img src="./assets/ph4.png" alt="Card Image" class="card-image">
          <h2 class="card-title">Hesoyam.Co App</h2>
        </a>
      </li>
    </ul>


    <!-- Navigation Buttons -->
    <div class="swiper-slide-button swiper-button-next"></div>
  </div>
</div>
